:root {
  --c-000417: 0 4 23;
  --c-000513: 0 5 19;
  --c-000617: 0 6 23;
  --c-000618: 0 6 24;
  --c-000717: 0 7 23;
  --c-010308: 1 3 8;
  --c-020814: 2 8 20;
  --c-020917: 2 9 23;
  --c-020a1a: 2 10 26;
  --c-020a23: 2 10 35;
  --c-020b1d: 2 11 29;
  --c-030c1e: 3 12 30;
  --c-030c1f: 3 12 31;
  --c-030e22: 3 14 34;
  --c-031025: 3 16 37;
  --c-031027: 3 16 39;
  --c-031439: 3 20 57;
  --c-040d21: 4 13 33;
  --c-040e21: 4 14 33;
  --c-040e22: 4 14 34;
  --c-040f24: 4 15 36;
  --c-041020: 4 16 32;
  --c-041026: 4 16 38;
  --c-04112a: 4 17 42;
  --c-04122a: 4 18 42;
  --c-04132c: 4 19 44;
  --c-041a3a: 4 26 58;
  --c-050b1b: 5 11 27;
  --c-05122b: 5 18 43;
  --c-05132c: 5 19 44;
  --c-051430: 5 20 48;
  --c-051633: 5 22 51;
  --c-051733: 5 23 51;
  --c-06152e: 6 21 46;
  --c-06162e: 6 22 46;
  --c-061630: 6 22 48;
  --c-061834: 6 24 52;
  --c-07152d: 7 21 45;
  --c-071d3e: 7 29 62;
  --c-071e42: 7 30 66;
  --c-072045: 7 32 69;
  --c-074aa0: 7 74 160;
  --c-08172f: 8 23 47;
  --c-081834: 8 24 52;
  --c-081933: 8 25 51;
  --c-081a36: 8 26 54;
  --c-081c38: 8 28 56;
  --c-081d3f: 8 29 63;
  --c-081e3e: 8 30 62;
  --c-091b37: 9 27 55;
  --c-091d3e: 9 29 62;
  --c-09254d: 9 37 77;
  --c-0a3265: 10 50 101;
  --c-0a4e8c: 10 78 140;
  --c-0b2a55: 11 42 85;
  --c-0c1b33: 12 27 51;
  --c-0c2244: 12 34 68;
  --c-0c325c: 12 50 92;
  --c-0c3769: 12 55 105;
  --c-0c3778: 12 55 120;
  --c-0d2445: 13 36 69;
  --c-0d2a55: 13 42 85;
  --c-0e2547: 14 37 71;
  --c-0f2a51: 15 42 81;
  --c-10284c: 16 40 76;
  --c-123b68: 18 59 104;
  --c-125096: 18 80 150;
  --c-135ba0: 19 91 160;
  --c-144076: 20 64 118;
  --c-144981: 20 73 129;
  --c-1464be: 20 100 190;
  --c-1473ad: 20 115 173;
  --c-1483e2: 20 131 226;
  --c-1572d3: 21 114 211;
  --c-164a98: 22 74 152;
  --c-173a6a: 23 58 106;
  --c-173d80: 23 61 128;
  --c-175b98: 23 91 152;
  --c-1772c8: 23 114 200;
  --c-185ebe: 24 94 190;
  --c-1873be: 24 115 190;
  --c-187bc9: 24 123 201;
  --c-188cdc: 24 140 220;
  --c-195e94: 25 94 148;
  --c-1a608d: 26 96 141;
  --c-1a6dff: 26 109 255;
  --c-1a70e2: 26 112 226;
  --c-1b7fe8: 27 127 232;
  --c-1b9fff: 27 159 255;
  --c-1c4778: 28 71 120;
  --c-1c5fa0: 28 95 160;
  --c-1d0838: 29 8 56;
  --c-1d85f8: 29 133 248;
  --c-1e6ebe: 30 110 190;
  --c-1e6eff: 30 110 255;
  --c-1f6ced: 31 108 237;
  --c-1f8cd6: 31 140 214;
  --c-2090e7: 32 144 231;
  --c-218df6: 33 141 246;
  --c-2192fa: 33 146 250;
  --c-219dff: 33 157 255;
  --c-222a70: 34 42 112;
  --c-223069: 34 48 105;
  --c-226ebe: 34 110 190;
  --c-2380db: 35 128 219;
  --c-239eff: 35 158 255;
  --c-246f9b: 36 111 155;
  --c-281e5a: 40 30 90;
  --c-2882e6: 40 130 230;
  --c-2896ff: 40 150 255;
  --c-2aa8ff: 42 168 255;
  --c-2b8bff: 43 139 255;
  --c-2d88ea: 45 136 234;
  --c-2eabff: 46 171 255;
  --c-30a6ff: 48 166 255;
  --c-33b8ff: 51 184 255;
  --c-3988c7: 57 136 199;
  --c-3cb4ff: 60 180 255;
  --c-3fb8ff: 63 184 255;
  --c-3fbeff: 63 190 255;
  --c-40aaff: 64 170 255;
  --c-41acfb: 65 172 251;
  --c-41c6ff: 65 198 255;
  --c-42b3ff: 66 179 255;
  --c-43bfff: 67 191 255;
  --c-449eea: 68 158 234;
  --c-46c2ff: 70 194 255;
  --c-47acf5: 71 172 245;
  --c-47bcff: 71 188 255;
  --c-4bc5ff: 75 197 255;
  --c-4dc1ff: 77 193 255;
  --c-4eb2f7: 78 178 247;
  --c-4ec2ff: 78 194 255;
  --c-4fc8ff: 79 200 255;
  --c-4fd0ff: 79 208 255;
  --c-50aaf0: 80 170 240;
  --c-50beff: 80 190 255;
  --c-50c8ff: 80 200 255;
  --c-52c2ff: 82 194 255;
  --c-53a8e8: 83 168 232;
  --c-53d4ff: 83 212 255;
  --c-546c8b: 84 108 139;
  --c-54b8ff: 84 184 255;
  --c-55d2ff: 85 210 255;
  --c-55d5ff: 85 213 255;
  --c-58cdff: 88 205 255;
  --c-58d2ff: 88 210 255;
  --c-5ac8ff: 90 200 255;
  --c-5acbff: 90 203 255;
  --c-5adcff: 90 220 255;
  --c-5dc2ff: 93 194 255;
  --c-5fc6ff: 95 198 255;
  --c-60ceff: 96 206 255;
  --c-63dcff: 99 220 255;
  --c-64c3ff: 100 195 255;
  --c-65ccff: 101 204 255;
  --c-6686a3: 102 134 163;
  --c-66d2ff: 102 210 255;
  --c-66dcff: 102 220 255;
  --c-69d3ff: 105 211 255;
  --c-6acaff: 106 202 255;
  --c-6dceff: 109 206 255;
  --c-6ed7ff: 110 215 255;
  --c-6fd4ff: 111 212 255;
  --c-6fd5ff: 111 213 255;
  --c-6fd8ff: 111 216 255;
  --c-6fdbff: 111 219 255;
  --c-6fdcff: 111 220 255;
  --c-71d4ff: 113 212 255;
  --c-72d8ff: 114 216 255;
  --c-72dcff: 114 220 255;
  --c-74e6ff: 116 230 255;
  --c-75dcff: 117 220 255;
  --c-76b4ff: 118 180 255;
  --c-76d6ff: 118 214 255;
  --c-7854dc: 120 84 220;
  --c-78dcff: 120 220 255;
  --c-79d3ff: 121 211 255;
  --c-7bdfff: 123 223 255;
  --c-7be5ff: 123 229 255;
  --c-7ca7c5: 124 167 197;
  --c-7edaff: 126 218 255;
  --c-7eeaff: 126 234 255;
  --c-7fbbda: 127 187 218;
  --c-7fcff5: 127 207 245;
  --c-7fe3ff: 127 227 255;
  --c-7fe6ff: 127 230 255;
  --c-84dcff: 132 220 255;
  --c-84e2ff: 132 226 255;
  --c-86bfdd: 134 191 221;
  --c-87edff: 135 237 255;
  --c-88c6e8: 136 198 232;
  --c-89e7ff: 137 231 255;
  --c-8ba9c2: 139 169 194;
  --c-8bdfff: 139 223 255;
  --c-8be1ff: 139 225 255;
  --c-8c64ff: 140 100 255;
  --c-8ce6ff: 140 230 255;
  --c-8de4ff: 141 228 255;
  --c-8ee8ff: 142 232 255;
  --c-8fc9e6: 143 201 230;
  --c-8fd4f5: 143 212 245;
  --c-8fdaff: 143 218 255;
  --c-8fe2ff: 143 226 255;
  --c-8fe8ff: 143 232 255;
  --c-90eaff: 144 234 255;
  --c-91b0c8: 145 176 200;
  --c-96d2f0: 150 210 240;
  --c-96e1ff: 150 225 255;
  --c-96e8ff: 150 232 255;
  --c-96ebff: 150 235 255;
  --c-9ae5ff: 154 229 255;
  --c-9bdfff: 155 223 255;
  --c-9bf2ff: 155 242 255;
  --c-9cc3da: 156 195 218;
  --c-9ef0ff: 158 240 255;
  --c-9fe6ff: 159 230 255;
  --c-9feeff: 159 238 255;
  --c-9ff0ff: 159 240 255;
  --c-a0ebff: 160 235 255;
  --c-a1bed4: 161 190 212;
  --c-a5eaff: 165 234 255;
  --c-a5efff: 165 239 255;
  --c-a8cbe2: 168 203 226;
  --c-aaf0ff: 170 240 255;
  --c-abf4ff: 171 244 255;
  --c-aef5ff: 174 245 255;
  --c-b08cff: 176 140 255;
  --c-b0efff: 176 239 255;
  --c-b4eaff: 180 234 255;
  --c-b6f5ff: 182 245 255;
  --c-b7f4ff: 183 244 255;
  --c-b8f2ff: 184 242 255;
  --c-b9d4e8: 185 212 232;
  --c-b9dcf0: 185 220 240;
  --c-b9f7ff: 185 247 255;
  --c-bdf6ff: 189 246 255;
  --c-bef0ff: 190 240 255;
  --c-bef5ff: 190 245 255;
  --c-bef8ff: 190 248 255;
  --c-bfefff: 191 239 255;
  --c-bff2ff: 191 242 255;
  --c-c2daea: 194 218 234;
  --c-c2dcff: 194 220 255;
  --c-c8f9ff: 200 249 255;
  --c-c8faff: 200 250 255;
  --c-c9f6ff: 201 246 255;
  --c-ccecff: 204 236 255;
  --c-cceeff: 204 238 255;
  --c-cdf9ff: 205 249 255;
  --c-cfeeff: 207 238 255;
  --c-d2e6ff: 210 230 255;
  --c-d6fbff: 214 251 255;
  --c-d8f7ff: 216 247 255;
  --c-d8f8ff: 216 248 255;
  --c-d8f9ff: 216 249 255;
  --c-d9ecff: 217 236 255;
  --c-d9f7ff: 217 247 255;
  --c-dbeeff: 219 238 255;
  --c-dbfaff: 219 250 255;
  --c-dcf8ff: 220 248 255;
  --c-dcf9ff: 220 249 255;
  --c-ddfdff: 221 253 255;
  --c-dffaff: 223 250 255;
  --c-e0f1ff: 224 241 255;
  --c-e3d4ff: 227 212 255;
  --c-e5faff: 229 250 255;
  --c-e5fdff: 229 253 255;
  --c-e6f1ff: 230 241 255;
  --c-e6fdff: 230 253 255;
  --c-e7fbff: 231 251 255;
  --c-e9faff: 233 250 255;
  --c-e9fbff: 233 251 255;
  --c-eafaff: 234 250 255;
  --c-eafcff: 234 252 255;
  --c-ecfbff: 236 251 255;
  --c-eef9ff: 238 249 255;
  --c-effaff: 239 250 255;
  --c-f0fbff: 240 251 255;
  --c-f1fbff: 241 251 255;
  --c-f1fcff: 241 252 255;
  --c-f2fdff: 242 253 255;
}
:root[data-persona="aeri"] {
  --c-000417: 18 2 5;
  --c-000513: 15 2 3;
  --c-000617: 18 2 4;
  --c-000618: 19 2 4;
  --c-000717: 18 2 4;
  --c-010308: 6 1 2;
  --c-020814: 16 3 5;
  --c-020917: 18 4 5;
  --c-020a1a: 21 4 6;
  --c-020a23: 28 5 8;
  --c-020b1d: 23 4 6;
  --c-030c1e: 24 5 7;
  --c-030c1f: 25 5 7;
  --c-030e22: 27 5 7;
  --c-031025: 30 6 8;
  --c-031027: 31 6 8;
  --c-031439: 45 7 12;
  --c-040d21: 26 6 8;
  --c-040e21: 26 6 8;
  --c-040e22: 27 6 8;
  --c-040f24: 29 6 9;
  --c-041020: 26 6 7;
  --c-041026: 30 7 9;
  --c-04112a: 34 7 10;
  --c-04122a: 34 7 9;
  --c-04132c: 35 7 10;
  --c-041a3a: 46 8 11;
  --c-050b1b: 22 6 8;
  --c-05122b: 34 8 10;
  --c-05132c: 35 8 10;
  --c-051430: 38 8 11;
  --c-051633: 41 8 11;
  --c-051733: 41 8 11;
  --c-06152e: 37 9 11;
  --c-06162e: 37 9 11;
  --c-061630: 39 9 12;
  --c-061834: 42 9 12;
  --c-07152d: 36 10 12;
  --c-071d3e: 50 11 14;
  --c-071e42: 53 11 15;
  --c-072045: 55 12 15;
  --c-074aa0: 165 2 13;
  --c-08172f: 38 10 13;
  --c-081834: 42 11 14;
  --c-081933: 41 11 13;
  --c-081a36: 43 11 14;
  --c-081c38: 45 11 14;
  --c-081d3f: 51 12 15;
  --c-081e3e: 50 12 15;
  --c-091b37: 44 12 15;
  --c-091d3e: 50 13 16;
  --c-09254d: 62 14 17;
  --c-0a3265: 81 17 21;
  --c-0a4e8c: 112 20 22;
  --c-0b2a55: 68 16 20;
  --c-0c1b33: 41 14 16;
  --c-0c2244: 55 15 19;
  --c-0c325c: 74 18 20;
  --c-0c3769: 84 19 22;
  --c-0c3778: 96 20 26;
  --c-0d2445: 56 16 19;
  --c-0d2a55: 68 18 22;
  --c-0e2547: 57 17 20;
  --c-0f2a51: 65 19 23;
  --c-10284c: 62 19 23;
  --c-123b68: 84 23 26;
  --c-125096: 154 14 20;
  --c-135ba0: 164 15 18;
  --c-144076: 95 26 30;
  --c-144981: 104 27 30;
  --c-1464be: 195 15 23;
  --c-1473ad: 178 22 15;
  --c-1483e2: 232 14 15;
  --c-1572d3: 217 15 22;
  --c-164a98: 156 18 29;
  --c-173a6a: 86 28 32;
  --c-173d80: 103 29 36;
  --c-175b98: 156 19 21;
  --c-1772c8: 205 18 22;
  --c-185ebe: 195 19 31;
  --c-1873be: 195 19 19;
  --c-187bc9: 206 20 19;
  --c-188cdc: 226 23 18;
  --c-195e94: 152 22 21;
  --c-1a608d: 144 27 23;
  --c-1a6dff: 255 26 47;
  --c-1a70e2: 232 20 34;
  --c-1b7fe8: 238 21 29;
  --c-1b9fff: 255 31 27;
  --c-1c4778: 98 33 36;
  --c-1c5fa0: 164 24 27;
  --c-1d0838: 45 11 22;
  --c-1d85f8: 255 22 32;
  --c-1e6ebe: 195 25 30;
  --c-1e6eff: 255 30 51;
  --c-1f6ced: 243 25 44;
  --c-1f8cd6: 219 31 26;
  --c-2090e7: 237 28 26;
  --c-218df6: 252 27 32;
  --c-2192fa: 255 28 32;
  --c-219dff: 255 34 33;
  --c-222a70: 92 37 47;
  --c-223069: 86 36 44;
  --c-226ebe: 195 29 35;
  --c-2380db: 225 29 34;
  --c-239eff: 255 36 35;
  --c-246f9b: 159 38 32;
  --c-281e5a: 74 32 43;
  --c-2882e6: 236 34 43;
  --c-2896ff: 255 40 45;
  --c-2aa8ff: 255 47 42;
  --c-2b8bff: 255 43 55;
  --c-2d88ea: 240 39 47;
  --c-2eabff: 255 52 46;
  --c-30a6ff: 255 50 48;
  --c-33b8ff: 255 63 51;
  --c-3988c7: 203 53 53;
  --c-3cb4ff: 255 67 60;
  --c-3fb8ff: 255 72 63;
  --c-3fbeff: 255 75 63;
  --c-40aaff: 255 65 64;
  --c-41acfb: 255 64 61;
  --c-41c6ff: 255 83 65;
  --c-42b3ff: 255 71 66;
  --c-43bfff: 255 79 67;
  --c-449eea: 239 63 64;
  --c-46c2ff: 255 83 70;
  --c-47acf5: 250 69 66;
  --c-47bcff: 255 80 71;
  --c-4bc5ff: 255 89 75;
  --c-4dc1ff: 255 87 77;
  --c-4eb2f7: 252 77 73;
  --c-4ec2ff: 255 89 78;
  --c-4fc8ff: 255 94 79;
  --c-4fd0ff: 255 100 79;
  --c-50aaf0: 245 76 75;
  --c-50beff: 255 88 80;
  --c-50c8ff: 255 94 80;
  --c-52c2ff: 255 92 82;
  --c-53a8e8: 236 80 79;
  --c-53d4ff: 255 106 83;
  --c-546c8b: 141 82 86;
  --c-54b8ff: 255 87 84;
  --c-55d2ff: 255 106 85;
  --c-55d5ff: 255 109 85;
  --c-58cdff: 255 104 88;
  --c-58d2ff: 255 108 88;
  --c-5ac8ff: 255 101 90;
  --c-5acbff: 255 103 90;
  --c-5adcff: 255 118 90;
  --c-5dc2ff: 255 100 93;
  --c-5fc6ff: 255 104 95;
  --c-60ceff: 255 110 96;
  --c-63dcff: 255 124 99;
  --c-64c3ff: 255 106 100;
  --c-65ccff: 255 112 101;
  --c-6686a3: 165 100 101;
  --c-66d2ff: 255 117 102;
  --c-66dcff: 255 126 102;
  --c-69d3ff: 255 120 105;
  --c-6acaff: 255 114 106;
  --c-6dceff: 255 119 109;
  --c-6ed7ff: 255 127 110;
  --c-6fd4ff: 255 125 111;
  --c-6fd5ff: 255 126 111;
  --c-6fd8ff: 255 128 111;
  --c-6fdbff: 255 131 111;
  --c-6fdcff: 255 131 111;
  --c-71d4ff: 255 126 113;
  --c-72d8ff: 255 130 114;
  --c-72dcff: 255 133 114;
  --c-74e6ff: 255 143 116;
  --c-75dcff: 255 135 117;
  --c-76b4ff: 255 118 126;
  --c-76d6ff: 255 131 118;
  --c-7854dc: 224 80 121;
  --c-78dcff: 255 137 120;
  --c-79d3ff: 255 130 121;
  --c-7bdfff: 255 142 123;
  --c-7be5ff: 255 147 123;
  --c-7ca7c5: 199 124 122;
  --c-7edaff: 255 140 126;
  --c-7eeaff: 255 153 126;
  --c-7fbbda: 221 130 124;
  --c-7fcff5: 249 133 123;
  --c-7fe3ff: 255 148 127;
  --c-7fe6ff: 255 150 127;
  --c-84dcff: 255 145 132;
  --c-84e2ff: 255 150 132;
  --c-86bfdd: 224 137 131;
  --c-87edff: 255 161 135;
  --c-88c6e8: 235 139 133;
  --c-89e7ff: 255 158 137;
  --c-8ba9c2: 196 137 138;
  --c-8bdfff: 255 152 139;
  --c-8be1ff: 255 154 139;
  --c-8c64ff: 255 100 144;
  --c-8ce6ff: 255 159 140;
  --c-8de4ff: 255 158 141;
  --c-8ee8ff: 255 162 142;
  --c-8fc9e6: 233 147 140;
  --c-8fd4f5: 248 148 140;
  --c-8fdaff: 255 151 143;
  --c-8fe2ff: 255 157 143;
  --c-8fe8ff: 255 162 143;
  --c-90eaff: 255 165 144;
  --c-91b0c8: 202 144 143;
  --c-96d2f0: 243 154 147;
  --c-96e1ff: 255 161 150;
  --c-96e8ff: 255 167 150;
  --c-96ebff: 255 169 150;
  --c-9ae5ff: 255 167 154;
  --c-9bdfff: 255 163 155;
  --c-9bf2ff: 255 179 155;
  --c-9cc3da: 220 157 154;
  --c-9ef0ff: 255 179 158;
  --c-9fe6ff: 255 171 159;
  --c-9feeff: 255 178 159;
  --c-9ff0ff: 255 180 159;
  --c-a0ebff: 255 176 160;
  --c-a1bed4: 214 160 159;
  --c-a5eaff: 235 193 185;
  --c-a5efff: 235 195 185;
  --c-a8cbe2: 228 168 166;
  --c-aaf0ff: 236 198 189;
  --c-abf4ff: 236 201 190;
  --c-aef5ff: 237 203 192;
  --c-b08cff: 255 140 174;
  --c-b0efff: 237 201 194;
  --c-b4eaff: 238 201 197;
  --c-b6f5ff: 239 208 198;
  --c-b7f4ff: 239 208 199;
  --c-b8f2ff: 239 207 200;
  --c-b9d4e8: 233 184 184;
  --c-b9dcf0: 228 199 197;
  --c-b9f7ff: 239 210 201;
  --c-bdf6ff: 240 212 204;
  --c-bef0ff: 240 210 205;
  --c-bef5ff: 240 212 205;
  --c-bef8ff: 240 214 205;
  --c-bfefff: 241 210 205;
  --c-bff2ff: 241 212 205;
  --c-c2daea: 225 204 203;
  --c-c2dcff: 241 208 210;
  --c-c8f9ff: 243 220 212;
  --c-c8faff: 243 220 212;
  --c-c9f6ff: 243 219 213;
  --c-ccecff: 244 217 215;
  --c-cceeff: 244 217 215;
  --c-cdf9ff: 244 223 216;
  --c-cfeeff: 244 219 218;
  --c-d2e6ff: 245 220 222;
  --c-d6fbff: 246 229 223;
  --c-d8f7ff: 246 228 225;
  --c-d8f8ff: 246 229 225;
  --c-d8f9ff: 246 229 225;
  --c-d9ecff: 246 226 226;
  --c-d9f7ff: 246 229 226;
  --c-dbeeff: 247 227 227;
  --c-dbfaff: 247 232 227;
  --c-dcf8ff: 247 231 228;
  --c-dcf9ff: 247 232 228;
  --c-ddfdff: 247 234 229;
  --c-dffaff: 248 234 230;
  --c-e0f1ff: 248 231 231;
  --c-e3d4ff: 245 222 229;
  --c-e5faff: 249 237 235;
  --c-e5fdff: 249 239 235;
  --c-e6f1ff: 249 236 236;
  --c-e6fdff: 249 239 236;
  --c-e7fbff: 250 239 236;
  --c-e9faff: 250 240 238;
  --c-e9fbff: 250 240 238;
  --c-eafaff: 250 240 239;
  --c-eafcff: 250 241 239;
  --c-ecfbff: 251 242 240;
  --c-eef9ff: 251 242 242;
  --c-effaff: 251 243 243;
  --c-f0fbff: 252 244 243;
  --c-f1fbff: 252 245 244;
  --c-f1fcff: 252 245 244;
  --c-f2fdff: 252 246 245;
}
:root[data-persona="violet"] {
  --c-000417: 12 2 18;
  --c-000513: 10 2 15;
  --c-000617: 12 2 18;
  --c-000618: 12 2 19;
  --c-000717: 11 2 18;
  --c-010308: 4 1 6;
  --c-020814: 11 3 16;
  --c-020917: 12 4 18;
  --c-020a1a: 13 4 21;
  --c-020a23: 19 5 28;
  --c-020b1d: 15 4 23;
  --c-030c1e: 16 5 24;
  --c-030c1f: 16 5 25;
  --c-030e22: 18 5 27;
  --c-031025: 19 6 30;
  --c-031027: 20 6 31;
  --c-031439: 29 7 45;
  --c-040d21: 18 6 26;
  --c-040e21: 18 6 26;
  --c-040e22: 18 6 27;
  --c-040f24: 19 6 29;
  --c-041020: 17 6 26;
  --c-041026: 20 7 30;
  --c-04112a: 22 7 34;
  --c-04122a: 22 7 34;
  --c-04132c: 23 7 35;
  --c-041a3a: 29 8 46;
  --c-050b1b: 16 6 22;
  --c-05122b: 23 8 34;
  --c-05132c: 23 8 35;
  --c-051430: 25 8 38;
  --c-051633: 26 8 41;
  --c-051733: 26 8 41;
  --c-06152e: 24 9 37;
  --c-06162e: 24 9 37;
  --c-061630: 25 9 39;
  --c-061834: 27 9 42;
  --c-07152d: 24 10 36;
  --c-071d3e: 32 11 50;
  --c-071e42: 34 11 53;
  --c-072045: 35 12 55;
  --c-074aa0: 89 2 165;
  --c-08172f: 26 10 38;
  --c-081834: 28 11 42;
  --c-081933: 27 11 41;
  --c-081a36: 29 11 43;
  --c-081c38: 29 11 45;
  --c-081d3f: 33 12 51;
  --c-081e3e: 32 12 50;
  --c-091b37: 30 12 44;
  --c-091d3e: 33 13 50;
  --c-09254d: 40 14 62;
  --c-0a3265: 51 17 81;
  --c-0a4e8c: 66 20 112;
  --c-0b2a55: 44 16 68;
  --c-0c1b33: 29 14 41;
  --c-0c2244: 37 15 55;
  --c-0c325c: 47 18 74;
  --c-0c3769: 53 19 84;
  --c-0c3778: 62 20 96;
  --c-0d2445: 38 16 56;
  --c-0d2a55: 45 18 68;
  --c-0e2547: 39 17 57;
  --c-0f2a51: 44 19 65;
  --c-10284c: 42 19 62;
  --c-123b68: 55 23 84;
  --c-125096: 86 14 154;
  --c-135ba0: 90 15 164;
  --c-144076: 63 26 95;
  --c-144981: 66 27 104;
  --c-1464be: 108 15 195;
  --c-1473ad: 89 15 178;
  --c-1483e2: 120 14 232;
  --c-1572d3: 118 15 217;
  --c-164a98: 93 18 156;
  --c-173a6a: 59 28 86;
  --c-173d80: 71 29 103;
  --c-175b98: 87 19 156;
  --c-1772c8: 111 18 205;
  --c-185ebe: 114 19 195;
  --c-1873be: 104 19 195;
  --c-187bc9: 109 19 206;
  --c-188cdc: 115 18 226;
  --c-195e94: 84 21 152;
  --c-1a608d: 78 23 144;
  --c-1a6dff: 154 26 255;
  --c-1a70e2: 133 20 232;
  --c-1b7fe8: 132 21 238;
  --c-1b9fff: 134 27 255;
  --c-1c4778: 66 33 98;
  --c-1c5fa0: 94 24 164;
  --c-1d0838: 39 11 45;
  --c-1d85f8: 142 22 255;
  --c-1e6ebe: 111 25 195;
  --c-1e6eff: 156 30 255;
  --c-1f6ced: 146 25 243;
  --c-1f8cd6: 115 26 219;
  --c-2090e7: 127 26 237;
  --c-218df6: 140 27 252;
  --c-2192fa: 141 28 255;
  --c-219dff: 139 33 255;
  --c-222a70: 73 37 92;
  --c-223069: 67 36 86;
  --c-226ebe: 114 29 195;
  --c-2380db: 127 29 225;
  --c-239eff: 140 35 255;
  --c-246f9b: 89 32 159;
  --c-281e5a: 63 32 74;
  --c-2882e6: 138 34 236;
  --c-2896ff: 147 40 255;
  --c-2aa8ff: 141 42 255;
  --c-2b8bff: 154 43 255;
  --c-2d88ea: 142 39 240;
  --c-2eabff: 143 46 255;
  --c-30a6ff: 146 48 255;
  --c-33b8ff: 141 51 255;
  --c-3988c7: 125 53 203;
  --c-3cb4ff: 149 60 255;
  --c-3fb8ff: 149 63 255;
  --c-3fbeff: 147 63 255;
  --c-40aaff: 156 64 255;
  --c-41acfb: 153 61 255;
  --c-41c6ff: 144 65 255;
  --c-42b3ff: 153 66 255;
  --c-43bfff: 149 67 255;
  --c-449eea: 149 63 239;
  --c-46c2ff: 150 70 255;
  --c-47acf5: 153 66 250;
  --c-47bcff: 153 71 255;
  --c-4bc5ff: 152 75 255;
  --c-4dc1ff: 155 77 255;
  --c-4eb2f7: 156 73 252;
  --c-4ec2ff: 156 78 255;
  --c-4fc8ff: 153 79 255;
  --c-4fd0ff: 149 79 255;
  --c-50aaf0: 156 75 245;
  --c-50beff: 159 80 255;
  --c-50c8ff: 154 80 255;
  --c-52c2ff: 158 82 255;
  --c-53a8e8: 153 79 236;
  --c-53d4ff: 150 83 255;
  --c-546c8b: 113 82 141;
  --c-54b8ff: 164 84 255;
  --c-55d2ff: 153 85 255;
  --c-55d5ff: 151 85 255;
  --c-58cdff: 158 88 255;
  --c-58d2ff: 155 88 255;
  --c-5ac8ff: 161 90 255;
  --c-5acbff: 160 90 255;
  --c-5adcff: 151 90 255;
  --c-5dc2ff: 166 93 255;
  --c-5fc6ff: 166 95 255;
  --c-60ceff: 163 96 255;
  --c-63dcff: 158 99 255;
  --c-64c3ff: 171 100 255;
  --c-65ccff: 168 101 255;
  --c-6686a3: 132 100 165;
  --c-66d2ff: 165 102 255;
  --c-66dcff: 160 102 255;
  --c-69d3ff: 167 105 255;
  --c-6acaff: 172 106 255;
  --c-6dceff: 172 109 255;
  --c-6ed7ff: 169 110 255;
  --c-6fd4ff: 171 111 255;
  --c-6fd5ff: 170 111 255;
  --c-6fd8ff: 169 111 255;
  --c-6fdbff: 167 111 255;
  --c-6fdcff: 167 111 255;
  --c-71d4ff: 172 113 255;
  --c-72d8ff: 171 114 255;
  --c-72dcff: 169 114 255;
  --c-74e6ff: 166 116 255;
  --c-75dcff: 171 117 255;
  --c-76b4ff: 190 118 255;
  --c-76d6ff: 175 118 255;
  --c-7854dc: 191 80 224;
  --c-78dcff: 174 120 255;
  --c-79d3ff: 179 121 255;
  --c-7bdfff: 174 123 255;
  --c-7be5ff: 171 123 255;
  --c-7ca7c5: 158 122 199;
  --c-7edaff: 179 126 255;
  --c-7eeaff: 171 126 255;
  --c-7fbbda: 166 124 221;
  --c-7fcff5: 177 123 249;
  --c-7fe3ff: 175 127 255;
  --c-7fe6ff: 174 127 255;
  --c-84dcff: 182 132 255;
  --c-84e2ff: 179 132 255;
  --c-86bfdd: 172 131 224;
  --c-87edff: 176 135 255;
  --c-88c6e8: 178 133 235;
  --c-89e7ff: 180 137 255;
  --c-8ba9c2: 166 137 196;
  --c-8bdfff: 186 139 255;
  --c-8be1ff: 185 139 255;
  --c-8c64ff: 219 100 255;
  --c-8ce6ff: 183 140 255;
  --c-8de4ff: 185 141 255;
  --c-8ee8ff: 184 142 255;
  --c-8fc9e6: 180 140 233;
  --c-8fd4f5: 186 140 248;
  --c-8fdaff: 191 143 255;
  --c-8fe2ff: 187 143 255;
  --c-8fe8ff: 184 143 255;
  --c-90eaff: 184 144 255;
  --c-91b0c8: 171 143 202;
  --c-96d2f0: 189 147 243;
  --c-96e1ff: 193 150 255;
  --c-96e8ff: 189 150 255;
  --c-96ebff: 188 150 255;
  --c-9ae5ff: 194 154 255;
  --c-9bdfff: 198 155 255;
  --c-9bf2ff: 188 155 255;
  --c-9cc3da: 184 154 220;
  --c-9ef0ff: 191 158 255;
  --c-9fe6ff: 197 159 255;
  --c-9feeff: 193 159 255;
  --c-9ff0ff: 192 159 255;
  --c-a0ebff: 195 160 255;
  --c-a1bed4: 185 159 214;
  --c-a5eaff: 204 185 235;
  --c-a5efff: 203 185 235;
  --c-a8cbe2: 195 166 228;
  --c-aaf0ff: 206 189 236;
  --c-abf4ff: 205 190 236;
  --c-aef5ff: 207 192 237;
  --c-b08cff: 230 140 255;
  --c-b0efff: 210 194 237;
  --c-b4eaff: 214 197 238;
  --c-b6f5ff: 212 198 239;
  --c-b7f4ff: 213 199 239;
  --c-b8f2ff: 214 200 239;
  --c-b9d4e8: 207 184 233;
  --c-b9dcf0: 211 197 228;
  --c-b9f7ff: 213 201 239;
  --c-bdf6ff: 216 204 240;
  --c-bef0ff: 218 205 240;
  --c-bef5ff: 217 205 240;
  --c-bef8ff: 216 205 240;
  --c-bfefff: 219 205 241;
  --c-bff2ff: 218 205 241;
  --c-c2daea: 213 203 225;
  --c-c2dcff: 226 208 241;
  --c-c8f9ff: 222 212 243;
  --c-c8faff: 222 212 243;
  --c-c9f6ff: 224 213 243;
  --c-ccecff: 228 215 244;
  --c-cceeff: 228 215 244;
  --c-cdf9ff: 225 216 244;
  --c-cfeeff: 229 218 244;
  --c-d2e6ff: 233 220 245;
  --c-d6fbff: 230 223 246;
  --c-d8f7ff: 233 225 246;
  --c-d8f8ff: 232 225 246;
  --c-d8f9ff: 232 225 246;
  --c-d9ecff: 236 226 246;
  --c-d9f7ff: 233 226 246;
  --c-dbeeff: 237 227 247;
  --c-dbfaff: 234 227 247;
  --c-dcf8ff: 235 228 247;
  --c-dcf9ff: 235 228 247;
  --c-ddfdff: 234 229 247;
  --c-dffaff: 236 230 248;
  --c-e0f1ff: 239 231 248;
  --c-e3d4ff: 241 222 245;
  --c-e5faff: 240 235 249;
  --c-e5fdff: 239 235 249;
  --c-e6f1ff: 243 236 249;
  --c-e6fdff: 240 236 249;
  --c-e7fbff: 241 236 250;
  --c-e9faff: 243 238 250;
  --c-e9fbff: 242 238 250;
  --c-eafaff: 243 239 250;
  --c-eafcff: 243 239 250;
  --c-ecfbff: 244 240 251;
  --c-eef9ff: 246 242 251;
  --c-effaff: 246 243 251;
  --c-f0fbff: 247 243 252;
  --c-f1fbff: 247 244 252;
  --c-f1fcff: 247 244 252;
  --c-f2fdff: 247 245 252;
}
